@model CommonMarkBlog.Models.Blog

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", placeholder = "Write your post here..." })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        }

    </div>
    <div class="col-md-6">
        <div id="Preview"></div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">

        var writer = new commonmark.HtmlRenderer();
        var reader = new commonmark.DocParser();

        $(document).ready(function () {
            var timer;
            var x;
            var parsed;
            var render = function () {
                if (parsed === undefined) {
                    return;
                }
                var startTime = new Date().getTime();
                var result = writer.renderBlock(parsed);
                var endTime = new Date().getTime();
                var renderTime = endTime - startTime;
                // $("#html").text(result);
                $("#Preview").html(result);
                //$("#html").text(result);
                $("#rendertime").text(renderTime);
            };

            var parseAndRender = function () {
                if (x) {
                    x.abort()
                } // If there is an existing XHR, abort it.
                clearTimeout(timer); // Clear the timer so we don't end up with dupes.
                timer = setTimeout(function () { // assign timer a new timeout
                    var startTime = new Date().getTime();
                    parsed = reader.parse($("#Content").val());
                    var endTime = new Date().getTime();
                    var parseTime = endTime - startTime;
                    $("#parsetime").text(parseTime);
                    $(".timing").css('visibility', 'visible');
                    render();
                }, 0); // ms delay
            };

            parseAndRender();
            $("#clear-text-box").click(function (e) {
                $("#Content").val('');
                window.location.search = "";
                parseAndRender();
            });

            $("#Content").bind('keyup paste cut mouseup', parseAndRender);
            $(".option").change(render);
        });
    </script>
}